<!DOCTYPE html>
<html lang="">

<head>

  <title>
    <%= webpackConfig.metadata.title %>
  </title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= webpackConfig.metadata.title %>">

  <!-- base url -->
  <base href="<%= webpackConfig.metadata.baseUrl %>">

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <link href="assets/css/bootstrap.min.css" rel="stylesheet">


  <style>
    body {
      width: 340px;
    }
  </style>
</head>

<body>
  <app>
    Loading...
  </app>
</body>

</html>