<form class="simple-form">
    <h3>Today ...</h3>
    <label>I arrived at :</label>   <input type="text" [(ngModel)]="_context.arriveStr" required><br />
    <label>Lunch will take:</label> <input type="text" [(ngModel)]="_context.lunchStr" required><br />
    <label>I'll leave at:</label>   <input type="text" [(ngModel)]="_context.leaveStr" required><br />

    <h3>Settings</h3>
    <label>Staff :</label>     <input type="text" [(ngModel)]="_context.staff" required><br />

    <h4>Daily Goals</h4>
    <label>Sunday :</label>    <input type="text" [(ngModel)]="_context.gSun"><br />
    <label>Monday :</label>    <input type="text" [(ngModel)]="_context.gMon"><br />
    <label>Tuesday :</label>   <input type="text" [(ngModel)]="_context.gTue"><br />
    <label>Wednesday :</label> <input type="text" [(ngModel)]="_context.gWed"><br />
    <label>Thursday :</label>  <input type="text" [(ngModel)]="_context.gThu"><br />
    <label>Friday :</label>    <input type="text" [(ngModel)]="_context.gFri"><br />
    <label>Saturday :</label>  <input type="text" [(ngModel)]="_context.gSat"><br />
</form>
