<form class="simple-form">
    <label>Staff :</label> <input type="text"  [(ngModel)]="_context.staff" required><br />
    <label>Arrive:</label> <input type="text"  [(ngModel)]="_context.arriveStr" required><br />
    <label>Lunch :</label> <input type="text"  [(ngModel)]="_context.lunchStr" required><br />
    <label>Leave :</label> <input type="text"  [(ngModel)]="_context.leaveStr" required><br />

    <h3>Goals</h3>
    Sunday :    <input type="text"  [(ngModel)]="_context.gSun"><br />
    Monday :    <input type="text"  [(ngModel)]="_context.gMon"><br />
    Tuesday :   <input type="text"  [(ngModel)]="_context.gTue"><br />
    Wednesday : <input type="text"  [(ngModel)]="_context.gWed"><br />
    Thursday :  <input type="text"  [(ngModel)]="_context.gThu"><br />
    Friday :    <input type="text"  [(ngModel)]="_context.gFri"><br />
    Saturday :  <input type="text"  [(ngModel)]="_context.gSat"><br />
</form>
