<form class="form-horizontal">
    <h3>Today</h3>
    <div class="form-group form-group-sm">
        <label class="col-xs-6">I arrived at :</label>
        <input class="col-xs-6" type="text" (blur)="save()" [(ngModel)]="context.expected.arrive" required><br />
    </div>
    <div class="form-group form-group-sm">
        <label class="col-xs-6">Lunch will take:</label>
        <input class="col-xs-6" type="text" (blur)="save()" [(ngModel)]="context.expected.lunch" required><br />
    </div>
    <div class="form-group form-group-sm">
        <label class="col-xs-6">I'll leave at:</label>   
        <input class="col-xs-6" type="text" (blur)="save()" [(ngModel)]="context.expected.leave" required><br />
    </div>

    <h3>Settings</h3>

    <div class="form-group form-group-sm">
        <label class="col-xs-4">Staff :</label>     
        <input class="col-xs-8" type="text" (blur)="save()" [(ngModel)]="context.staff" required><br />
    </div>

    <h4>Goals</h4>

    <div *ngFor="let goal of context.goals; let i = index" class="form-group form-group-sm">
        <label class="col-xs-4">{{ dayLabels[i] }}:</label>
        <input class="col-xs-8" type="text" (blur)="save()" [(ngModel)]="context.goals[i]" placeholder="h:mm"/>
    </div>
</form>
